# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test
coverage.txt
profile.out

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Script single node data
contrib/scripts/node-data
contrib/scripts/umeemainnet.*
contrib/scripts/cosmos-genesis-tinkerer
contrib/scripts/mainnet_tinkered_genesis.json
contrib/scripts/preprocessing.json
contrib/scripts/proposal.json
contrib/scripts/umeed-releases
# preprocessing can appear from the shell curdir that is cosmos-genesis-tinkerer is running
preprocessing.json

# Dependency directories (remove the comment below to include it)
# vendor/
vue/node_modules
vue/dist
secret.yml

# Build
build

dist/

# OSX
*.DS_Store

# e2e test keychain folder
tests/e2e/keyring-test


# private files
private*

#IntelliJ
.idea/
