name: Debug
on:
  workflow_dispatch:
    inputs:
      debug_enabled:
        description: "Run workflow with tmate debugging enabled (https://github.com/marketplace/actions/debugging-with-tmate)"
        required: false
        default: "false"

jobs:
  ssh-debug:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-go@v3
        with:
          go-version: 1.17
<<<<<<< HEAD
=======
      - name: Get Go Cache
        uses: actions/cache@v3
        with:
          path: |
            ~/go/pkg/mod
            ~/.cache/golangci-lint
            ~/.cache/go-build
          key: ${{ runner.os }}-go-cache-${{ hashFiles('**/go.sum') }}

>>>>>>> 22f3c41 (build(deps): Bump actions/cache from 2 to 3 (#961))
      - uses: actions/checkout@v3
      - name: Setup tmate session
        uses: mxschmitt/action-tmate@v3
        timeout-minutes: 90
        if: ${{ github.event_name == 'workflow_dispatch' && github.event.inputs.debug_enabled }}
