name: Debug
on:
  workflow_dispatch:
    inputs:
      debug_enabled:
        description: "Run workflow with tmate debugging enabled (https://github.com/marketplace/actions/debugging-with-tmate)"
        required: false
        default: "false"

concurrency:
  group: ci-${{ github.ref }}-${{ github.workflow }}
  cancel-in-progress: true

jobs:
  ssh-debug:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-go@v4
        with:
          go-version: "1.20"
          cache: true

      - uses: actions/checkout@v4
      - name: Setup tmate session
        uses: mxschmitt/action-tmate@v3
        timeout-minutes: 90
        if: ${{ github.event_name == 'workflow_dispatch' && github.event.inputs.debug_enabled }}
