name: Vuln
on:
  pull_request:
    types: [opened, synchronize, reopened, labeled]
  merge_group:
    types: [checks_requested]

concurrency:
  group: ci-${{ github.ref }}-${{ github.workflow }}
  cancel-in-progress: true

jobs:
  govulncheck:
    runs-on: ubuntu-latest
    name: Run govulncheck
    steps:
      - uses: actions/checkout@v4
      - uses: technote-space/get-diff-action@v6.1.2
        with:
          PATTERNS: |
            **/**.go
          FILES: |
            go.mod
            go.sum
      - uses: golang/govulncheck-action@v1.0.4
        id: govulncheck
        if: env.GIT_DIFF
        with:
          go-version-input: 1.22
          go-package: ./...
