name: Check Markdown links
on: 
  pull_request:
    paths:
      - "**.md"
  push:
    branches:
      - main
      - release/**
    paths:
      - "**.md"

jobs:
  markdown-link-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: gaurav-nelson/github-action-markdown-link-check@1
        with:
          check-modified-files-only: true
          base-branch: main
