name: Lint
on:
  merge_group:
    types: [checks_requested]
  pull_request:

concurrency:
  group: ci-${{ github.ref }}-${{ github.workflow }}
  cancel-in-progress: true

jobs:
  golangci:
    name: Run golangci-lint
    runs-on: ubuntu-latest
    timeout-minutes: 8
    steps:
      - uses: actions/checkout@v4
      - uses: technote-space/get-diff-action@v6.1.2
        with:
          PATTERNS: |
            **/*.go
      - uses: actions/setup-go@v4
        if: env.GIT_DIFF
        with:
          go-version: "1.20"
          cache: true

      - name: golangci-lint main
        uses: golangci/golangci-lint-action@v3
        if: env.GIT_DIFF
        with:
          version: latest
          args: --timeout 8m

  markdown-lint:
    name: markdown-lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      # lint only changed files
      - uses: tj-actions/changed-files@v39
        id: changed-files
        with:
          files: "**/*.md"
          separator: ","
      - uses: DavidAnson/markdownlint-cli2-action@v13
        if: steps.changed-files.outputs.any_changed == 'true'
        with:
          globs: ${{ steps.changed-files.outputs.all_changed_files }}
          separator: ","

  buf-lint:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v4
      - uses: technote-space/get-diff-action@v6.1.2
        with:
          PATTERNS: |
            **/*.proto
      - uses: bufbuild/buf-setup-action@v1
        if: env.GIT_DIFF
      - uses: bufbuild/buf-lint-action@v1
        if: env.GIT_DIFF
        with:
          input: "proto"
