name: Protobuf
# Protobuf runs buf (https://buf.build/) lint and check-breakage
# This workflow is only run when a .proto file has been changed
on:
  pull_request:
    paths: ["**.proto"]

concurrency:
  group: ci-${{ github.ref }}-${{ github.workflow }}
  cancel-in-progress: true

jobs:
  breakage:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: check-breakage
        run: make proto-check-breaking
