name: Simulations
on:
  merge_group:
    types: [checks_requested]
  pull_request:
    types: [opened, synchronize, reopened, labeled]

concurrency:
  group: ci-${{ github.ref }}-${{ github.workflow }}
  cancel-in-progress: true

jobs:
  install-dependencies:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-go@v5
        with:
          go-version: "1.22"

      - name: Install runsim
        run: export GO111MODULE="on" && go install github.com/cosmos/tools/cmd/runsim@v1.0.0
      - uses: actions/cache@v4
        with:
          path: ~/go/bin
          key: ${{ runner.os }}-go-runsim-binary

  test-app-non-determinism:
    # skip the non determinim simulation test when `skip-e2e-test` label is present on pull request
    if: ${{ !contains(github.event.pull_request.labels.*.name, 'skip-e2e-test') }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: technote-space/get-diff-action@v6.1.2
        with:
          PATTERNS: |
            **/**.go
          FILES: |
            go.mod
            go.sum
      - uses: actions/setup-go@v5
        if: env.GIT_DIFF
        with:
          go-version: "1.22"
          cache: true
      - name: Test application non-determinism
        if: env.GIT_DIFF
        run: |
          make test-app-non-determinism

  test-app-import-export:
    # skip the genesis import and export simulation test when `skip-e2e-test` label is present on pull request
    if: ${{ !contains(github.event.pull_request.labels.*.name, 'skip-e2e-test') }}
    runs-on: ubuntu-latest
    needs: install-dependencies
    timeout-minutes: 60
    steps:
      - uses: actions/checkout@v4
      - uses: technote-space/get-diff-action@v6.1.2
        with:
          PATTERNS: |
            **/**.go
          FILES: |
            go.mod
            go.sum
      - uses: actions/setup-go@v5
        if: env.GIT_DIFF
        with:
          go-version: "1.22"
          cache: true
      - uses: actions/cache@v4
        if: env.GIT_DIFF
        with:
          path: ~/go/bin
          key: ${{ runner.os }}-go-runsim-binary
      - name: test-app-import-export
        if: env.GIT_DIFF
        run: |
          make test-app-import-export

  test-app-after-import:
    # skip the genesis import simulation test when `skip-e2e-test` label is present on pull request
    if: ${{ !contains(github.event.pull_request.labels.*.name, 'skip-e2e-test') }}
    runs-on: ubuntu-latest
    needs: install-dependencies
    timeout-minutes: 60
    steps:
      - uses: actions/checkout@v4
      - uses: technote-space/get-diff-action@v6.1.2
        with:
          PATTERNS: |
            **/**.go
          FILES: |
            go.mod
            go.sum
      - uses: actions/setup-go@v5
        if: env.GIT_DIFF
        with:
          go-version: "1.22"
          cache: true
      - uses: actions/cache@v4
        if: env.GIT_DIFF
        with:
          path: ~/go/bin
          key: ${{ runner.os }}-go-runsim-binary
      - name: test-app-after-import
        if: env.GIT_DIFF
        run: |
          make test-app-after-import

  test-app-multi-seed-short:
    # skip this simulation test when `skip-e2e-test` label is present on pull request
    if: ${{ !contains(github.event.pull_request.labels.*.name, 'skip-e2e-test') }}
    runs-on: ubuntu-latest
    needs: install-dependencies
    steps:
      - uses: actions/checkout@v4
      - uses: technote-space/get-diff-action@v6.1.2
        with:
          PATTERNS: |
            **/**.go
          FILES: |
            go.mod
            go.sum
      - uses: actions/setup-go@v5
        if: env.GIT_DIFF
        with:
          go-version: "1.22"
          cache: true
      - uses: actions/cache@v4
        if: env.GIT_DIFF
        with:
          path: ~/go/bin
          key: ${{ runner.os }}-go-runsim-binary
      - name: test-app-multi-seed-short
        if: env.GIT_DIFF
        run: |
          make test-app-multi-seed-short
