name: Tests
on:
  pull_request:
  push:
    branches:
      - main
      - release/**

jobs:
  cleanup-runs:
    runs-on: ubuntu-latest
    steps:
      - uses: rokroskar/workflow-run-cleanup-action@master
        env:
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
    if: "!startsWith(github.ref, 'refs/tags/') && github.ref != 'refs/heads/main'"

  install-tparse:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-go@v3
        with:
          go-version: 1.19
      - name: Display Go Version
        run: go version
      - uses: actions/cache@v3
        id: cache-go-tparse
        with:
          path: ~/go/bin
          key: ${{ runner.os }}-go-tparse-binary
      - name: Install tparse
        if: steps.cache-go-tparse.outputs.cache-hit != 'true'
        run: |
          export GO111MODULE="on" && go get github.com/mfridman/tparse@v0.9.0

  test-unit-cover:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: technote-space/get-diff-action@v6.1.0
        with:
          PATTERNS: |
            **/**.go
            go.mod
            go.sum
      - uses: actions/setup-go@v3
        if: env.GIT_DIFF
        with:
          go-version: 1.19
          cache: true
      - name: Test and Create Coverage Report
        if: env.GIT_DIFF
        run: |
          make test-unit-cover
      - uses: codecov/codecov-action@v3
        if: env.GIT_DIFF
        with:
          file: ./coverage.txt
          fail_ci_if_error: true

  test-e2e:
    runs-on: ubuntu-latest
    timeout-minutes: 25
    steps:
      - uses: actions/checkout@v3
      - uses: technote-space/get-diff-action@v6.1.0
        with:
          PATTERNS: |
            **/**.go
            go.mod
            go.sum
      - uses: actions/setup-go@v3
        if: env.GIT_DIFF
        with:
          go-version: 1.19
          cache: true
      - name: Build Docker Image
        if: env.GIT_DIFF
        run: |
          make docker-build-debug
      - name: Test E2E
        if: env.GIT_DIFF
        run: |
          make test-e2e

  price-feeder:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: technote-space/get-diff-action@v6.1.0
        with:
          PATTERNS: |
            **/**.go
            price-feeder/go.mod
            price-feeder/go.sum
      - uses: actions/setup-go@v3
        if: env.GIT_DIFF
        with:
          go-version: 1.19
          cache: true
          cache-dependency-path: price-feeder/go.sum
      - name: Test price-feeder
        if: env.GIT_DIFF
        run: |
          cd price-feeder && make test-unit

  liveness-test:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v3
      - uses: technote-space/get-diff-action@v6.1.0
        id: git_diff
        with:
          PATTERNS: |
            **/**.go
            go.mod
            go.sum
      - uses: actions/setup-go@v3
        if: env.GIT_DIFF
        with:
          go-version: 1.19
          cache: true
      - name: Build umeed
        if: env.GIT_DIFF
        run: |
          make build
      - name: Start single node chain
        if: env.GIT_DIFF
        run: |
          ./contrib/scripts/single-node.sh
      - name: Test Local Network Liveness
        if: env.GIT_DIFF
        run: |
          sleep 1m
          ./contrib/scripts/test_localnet_liveness.sh 50 5 50 localhost:26657

#  mainnet-upgrade-v1-v3:
#    runs-on: ubuntu-latest
#    timeout-minutes: 20
#    steps:
#      - uses: actions/checkout@v3
#      - uses: technote-space/get-diff-action@v6.1.0
#        with:
#          PATTERNS: |
#            **/**.go
#            go.mod
#            go.sum
#      - uses: actions/setup-go@v3
#        if: env.GIT_DIFF
#        with:
#          go-version: 1.19
#          cache: true
#      - name: Build umeed
#        if: env.GIT_DIFF
#        run: |
#          make build
#      - name: Fork mainnet and upgrade from v1.0.3 to v.3.x.x
#        if: env.GIT_DIFF
#        run: |
#          ./contrib/scripts/umeemainnet_fork.sh
